@font-face {
    font-family: Agenda-Bold;
    src: url(../font/Agenda-Bold.ttf);
}

.bg-img {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

.logo {
    content: url(../img/logo.png);
    width: 7rem;
}

.dialog {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
}

.dialog-img {
    background-image: url(../img/dialog.png);
    background-size: cover;
    width: 36rem;
    height: 48rem;
}

.dialog-text {
    font-size: 0.9rem;
    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    color: #07dac3;
    height: 18.5rem;
    line-height: 1.2rem;
}

.dialog-variant {
    margin-top: 1.8rem;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    flex-direction: column;
    display: flex;
}

.dialog-variant-img {
    font-family: Agenda-Bold;
    font-size: 1.1rem;
    color: #dcdcdd;
    text-align: unset;
    background-image: url(../img/dialog-variant.png);
    background-size: cover;
    width: 30.3rem;
    height: 2rem;
    border-width: 0;
    padding: 0 2.5rem;
}


@media (min-width: 0px) and (max-width: 576px) { 
    .dialog-img {
        width: 18rem;
        height: 24rem;
    }

    .dialog-text {
        font-size: 0.6rem;
        margin-top: 1.5rem;
        margin-left: 1.8rem;
        margin-right: 1.8rem;
        color: #07dac3;
        height: 9.3rem;
        line-height: 0.8rem;
    }

    .dialog-variant {
        margin-top: 0.9rem;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
    }
    
    .dialog-variant-img {
        font-size: 0.7rem;
        width: 15.1rem;
        height: 1.3rem;
        padding: 0 1.5rem
    }
}

@media (min-width: 577px) and (max-width: 768px) { 
    .dialog-img {
        width: 27rem;
        height: 36rem;
    }

    .dialog-text {
        font-size: 0.9rem;
        margin-top: 2.4rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        color: #07dac3;
        height: 13.8rem;
        line-height: 1.2rem;
    }

    .dialog-variant {
        margin-top: 1.3rem;
        margin-left: 2.1rem;
        margin-right: 2.1rem;
    }
    
    .dialog-variant-img {
        width: 22.7rem;
        height: 2rem;
    }
}